<!DOCTYPE html>

{% load static %}

<html>
<head>
<title>About</title>
</head>
<style>
body{
    background-color:#00FFFF;
}
img{
    border-radius:100%;
}
</style>
<body>
<a class="navbar-brand" href="/ "><h4>BACK TO HOME</h4></a>
<br>
<center><img src="{% static 'images/binod.jpg' %}" style=width="204" height="450" ></center>
<center><p style="background-color:powderblue; width:800px">We are currently studying Geomatics Engineering at Pashchimanchal Campus. We created this website as our final year project. 
This website contain the map of<b> Kaskikot ward 24,Pokhara</b>.<br> The main aim of creating this website is to help the user to search for the nearest critical facility like health facility ,community building, open space, school, financial institution inside the ward and show the shortest route to these facility.<br>
This website can be used to search various geographic attributes such as school, hospital or health facility, community building, financial institution.Also we can visualiza the road network and waterways like stream and river located in the ward.
Thank you for visiting our website and we hope you find it informative and engaging. Feel free to contact us if you have any questions or feedback.</p></center>


</body>
</html>